<div class="splash-container">
    <div class="splash">
      <h1 class="splash-head">Project 2: F1 2022</h1>
      <p class="splash-subhead">
        Welcome to the homepage of my second project which has information on the Formula 1 season 2022!
      </p>
      <p>
        <a href="drivers" class="pure-button pure-button-primary">Drivers</a>
        <a href="constructors" class="pure-button pure-button-primary">Constructors</a>
        <a href="schedule" class="pure-button pure-button-primary">Shcedule</a>
      </p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <h2 class="content-head is-center">Information</h2>

      <div class="pure-g">
        
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
            
            Drivers
          </h3>
          <p>
            You can take a look at the current drivers on the F1 2022 season.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
           
            Constructors
          </h3>
          <p>
            Check out the constructors of the season!
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
           
            Schedule
          </h3>
          <p>
            Find out the schedule of season 2022 races!
          </p>
        </div>
      </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
      <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        <img width="500" alt="File Icons" class="pure-img-responsive" src="../pages/images/ferrari.jpg">
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

        <h2 class="content-head content-head-ribbon">About this project</h2>

        <p>
          On this website you can browse through Formula 1 season 2022 information such as the current drivers, constructors and the season schedule.

        </p>
        <p>
          In the picture we have Ferrari's Formula 1 racing car F1-75 for the 2022 season with the team's drivers Charles Leclerc and Carlos Sainz.
        </p>
      </div>
    </div>