<div class="content ">

    <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
      <h4>Contact Us</h4>
      <p>
        You can contact me by sending email to 
        <a id="redlink" href="mailto: atte.loponen@student.laurea.fi">atte.loponen@student.laurea.fi</a>. 
        I will gladly answer any questions you might have about this project.
      </p>

      
    </div>
  </div>

</div>



</div>

</body>

</html>