<body>
    <div class="header">
        <div id="navbar" class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/"><img src="../pages/images/f1_logo.svg"/>Formula 1 2022</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="drivers" class="pure-menu-link">Drivers</a></li>
                <li class="pure-menu-item"><a href="constructors" class="pure-menu-link">Constructors</a></li>
                <li class="pure-menu-item"><a href="schedule" class="pure-menu-link">Schedule</a></li>
            </ul>
        </div>
    </div>